<div class="container">
  <header class="header">
    <h1 class="text-gradient"> Hola</h1>
    <h2 class="app-question"> Bienvenido a EchoVault</h2>
  </header>
  <section class="cards-section">
    <div class="card">EchoVault es una aplicación que te permite conocer a tus artistas favoritos, o tus canciones más escuchadas.</div>
    <div class="card">Utilizamos la API de Spotify, lo que quiere decir que la aplicación es completamente segura.</div>
    <div class="card">Se requiere de una suscripción a Spotify Premium para poder utilizar la aplicación.</div>
  </section>
  <section class="info-section">
    <p>
      La aplicacion utiliza la API de Spotify para obtener informacion de tus artistas favoritos, puede que no funcione correctamente si no tienes una cuenta de Spotify Premium.
    </p>
  </section>
  <footer class="footer">
    <p>Desarrollado por <a href="https://github.com/babyvegas">Donovan Barrientos</a> | © 2024 Donovan Barrientos. Todos los derechos reservados.
  </footer>
</div>



