<div class="sidenav-header">
  <img [src]="img" alt="No has iniciado sesion" [width]="profilePicSize()" [height]="profilePicSize()">
<div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
  <div class="name-text" *ngIf="!isLogged"><h2>Inicia sesion para comenzar</h2></div>
  <div class="name-text" *ngIf="isLogged"><h2> {{name}} </h2></div>
</div>
</div>
<mat-nav-list>
<a mat-list-item class="menu-item" *ngFor="let item of menuItems" [routerLink]="item.route" routerLinkActive="selected-menu-item" #rla="routerLinkActive" [activated]="rla.isActive">
  <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>{{item.icon}}</mat-icon>
  <span matListItemTitle *ngIf="!sideNavCollapsed()">{{item.label}}</span>
</a>
<a mat-list-item *ngIf="!isLogged">
  <mat-icon matListItemIcon>login</mat-icon>
  <span matListItemTitle (click)="getCodeForToken()">Inicia Sesión</span>
</a>
<a mat-list-item *ngIf="isLogged">  <!-- TODO: Añadir ngIf para mostrar el boton una vez que se solvente bug del verifier -->
  <mat-icon matListItemIcon>power_settings_new</mat-icon>
  <span matListItemTitle (click)="logout()">Cerrar Sesion</span>
</a>
</mat-nav-list>

