<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <p>echoVault</p>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <shared-sidenav [collapsed]="collapsed()"></shared-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="home-content" [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
