.mat-toolbar {
  position: relative;
  z-index: 5;
}
.container {
  height: calc(100vh - 64px);
}
.home-content {
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  margin-bottom: 50px;
}

mat-sidenav, mat-sidenav-content {
  transition: all 500ms ease-in-out;
}

.spacer {
  flex: 1 1 auto;
}
