<div class="container">
  <header class="header">
    <h1 class="text-gradient"> Hola {{name}}. </h1>
    <h2 class="app-question"> ¿Listo para descubrir a tus artistas favoritos?</h2>
  </header>
  <section class="cards-section">
    <div class="card">En el menú lateral, podrás ver las opciones para que descubras tus top items.</div>
    <div class="card">La opción "Top Tracks" creará un chart en el que descubrirás tus canciones favoritas.</div>
    <div class="card">La opción "Top Artists" creará un chart en el que descubrirás tus artistas favoritos.</div>
  </section>
  <section class="info-section">
    <p>
      La aplicacion utiliza la API de Spotify para obtener informacion de tus artistas favoritos, puede que no funcione correctamente si no tienes una cuenta de Spotify Premium.
    </p>
  </section>
  <footer class="footer">
    <p>Desarrollado por <a href="https://github.com/babyvegas">Donovan Barrientos</a>
  </footer>
</div>

